.portfolio-container {
    display: flex;
    align-items: center;
    height: 100vh;
    --cell: #222;
    --line: #494E4A;
    --border: 8px solid orange;
    background: 
        radial-gradient(circle farthest-side at 0% 50%,var(--cell) 23.5%,
        rgba(240,166,17,0) 0)21px 30px,
        radial-gradient(circle farthest-side at 0% 50%,var(--line) 24%,
        rgba(240,166,17,0) 0)19px 30px,
        linear-gradient(var(--cell) 14%,
        rgba(240,166,17,0) 0,
        rgba(240,166,17,0) 85%,
        var(--cell) 0)0 0, 
        linear-gradient(150deg,var(--cell) 24%,
        var(--line) 0,
        var(--line) 26%,
        rgba(240,166,17,0) 0,
        rgba(240,166,17,0) 74%,
        var(--line) 0,
        var(--line) 76%,
        var(--cell) 0)0 0,
        linear-gradient(30deg, var(--cell) 24%,
        var(--line) 0,
        var(--line) 26%,
        rgba(240,166,17,0) 0,
        rgba(240,166,17,0) 74%,
        var(--line) 0,
        var(--line) 76%,
        var(--cell) 0)0 0,
        linear-gradient(90deg,var(--line) 2%,
        var(--cell) 0,
        var(--cell) 98%,
        var(--line) 0%)0 0 var(--cell);
    background-size: 40px 60px;
}

ul.portfolio-items {
    background: linear-gradient(to right bottom, #FF88FF, rebeccapurple, rebeccapurple);
    height: 100vh;
    color: white;
    list-style: none;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    width: 10vw;
    border-right: var(--border);
}

div.arrow-container {
    margin: 0px 50px;
    width: 490px;
    height: 80px;
    display: flex;
    align-items: center;
    border: var(--border);
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.arrow {
    border: solid #39ff14;
    border-width: 0 30px 30px 0;
    display: inline-block;
    padding: 30px;
    transform: rotate(-45deg);
}
.portfolio-card {
    width: 30vw;
    height: 90vh;
    background: black;
    border: var(--border);
    border-radius: 5px;
}
.icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.icon {
    margin: 15px 0;
    display: block;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border: var(--border);
    border-radius: 5px;
}

.image {
    display: block;
    height: 100%;
}
