.grid-container {
    height: 100vh;
    width: 100vw;
    //background: #444;
    //background: url('../../assets/imgs/bg.jpg') no-repeat center center;
    background: url('../../assets/imgs/bg1.jpg') no-repeat center center;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.border {
    border: 1px solid #7EEEE4;
    border-radius: 5px;
}

.window {
    border-radius: 5px;
    text-align: center;
    min-width: 260px;
    background: rgba(0,0,0,0.5);
}

.meta {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.meta-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.intro {
    color: white;    
    background: rgba(0,0,0,0.5);
    grid-row: 1 / 4;
    grid-column: 2 / 4;
    margin-top: 5%;
}
.intro {
    text-align: center;
}
.roboto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    line-height: 1em;
    margin-left: 5%;
    width: 90%;
    font-family: 'Roboto', sans-serif;
}

.barcode {
    grid-row: 1 / 4;
    grid-column: 4 / 5;
    font-family: 'Libre Barcode 39 Extended', sans-serif;
    margin: auto;
    overflow-wrap: break-word;
    max-width: 350px;
}
